.new-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.5);
}

.container-new {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 50px;
    background: #fff;
}

.form-group textarea.remark-box {
    height: 100px;
}

.container-new .row > label {
    min-width: 80px;
}

.selected-item {
    position: relative;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 2px 12px;
    border: 1px dashed #ddd;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
}

.selected-item:hover {
    border-color: #399bff;
    color: #399bff;
}

.selected-item:hover:after {
    content: 'x';
    position: absolute;
    top: 0;
    right: 2px;
    color: #399bff;
}
