<html>
<head>
    <title></title>
    <meta charset="UTF-8">
</head>
<body>
<form action="../../php/php-upload.php" method="post"
      enctype="multipart/form-data">
    <label for="file">Filename:</label>
    <input type="file" name="file" id="file"/>
    <p style="color: red;">
        注：选择
        <strong>JPBrandList.json(日本线品牌list)</strong>
        、
        <strong>brandList.json(日韩台整合供应商清单)</strong>
        、
        <strong>assesssmentForms.json(供应商评估表)</strong>
        文件上传（注意文件名称需完全一致）
    </p>
    <input type="submit" name="submit" value="上传至阿里云"/>
</form>
</body>
</html>
