
fieldset {
    margin: 10px 0;
}

fieldset > .row {
    margin: 10px 20px;
}

fieldset .row > label {
    color: #ddd;
}

fieldset:not(.basic-msg) > .row:not(:last-of-type) {
    padding-bottom: 10px;
}

fieldset textarea.txt-area {
    height: 100px;
}

fieldset legend {
    font-size: 16px;
}

fieldset legend, fieldset .form-label {
    font-weight: 700;
}

.score-box {
    position: fixed;
    top: 15%;
    right: 7%;
    padding: 6px 30px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    border-radius: 16px;
    box-shadow: 3px 3px 3px #5d5a5a;
    color: #fff;
    background: #545454;
    z-index: 1000;
}

.score-box p {
    margin: 0;
}

fieldset .row.no-choice {
    border: 2px solid red !important;
}

.row .top {
    position: relative;
    padding: 10px 18px;
    color: #5faee3;
    font-size: 16px;
    font-weight: 700;
}

.row .top:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100px;
    border-bottom: 2px solid #5faee3;
}

.row.row-update > div {
    padding: 0 10px;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ul-update-list li:first-of-type {
    position: relative;
    padding-bottom: 20px;
}

.ul-update-list li:first-of-type:after {
    content: '↓';
    position: absolute;
    left: 50%;
    bottom: 0;
    font-size: 16px;
    font-weight: 700;
    color: #f00;
}

.row.row-update:not(:last-of-type) {
    border-bottom: 1px solid #ddd;
}