.new-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.5);
}

.container-new {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 50px;
    background: #fff;
}

.form-group textarea.remark-box {
    height: 100px;
}

.fuzzy-ul {
    position: absolute;
    border: 1px solid #ddd;
    width: calc(100% - 30px);
    padding: 10px;
    z-index: 900;
    background: #fff;
    max-height: 116px;
    overflow: auto;
}

.fuzzy-ul li {
    padding: 5px;
    cursor: pointer;
}

.fuzzy-ul li:hover {
    background: rgba(57, 155, 255, 0.1);
}
